:root {
    --cor-fundo: #011040;
    --cor-principal: #011040;
    --cor-secundaria: #004483;
    --cor-destaque: #2BDEFD;
    --cor-texto: #FFFFFF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}